@tailwind base;
@tailwind components;
@font-face {
  font-family: 'Uthmani';
  src: local('Uthmani'), url(../fonts/Uthmani.otf) format('otf');
}

@font-face {
  font-family: 'Noor';
  src: local('Noor'), url(../fonts/Noor.ttf) format('ttf');
}

@tailwind utilities;
